!*.exe
!*.dll
!*.ide

DotNet/packages/*
DotNet/.vs/*
DotNet/DotNet/bin
DotNet/DotNet/obj
DotNet/DotNet.Common/bin
DotNet/DotNet.Common/obj
DotNet/Entities/bin
DotNet/Entities/obj
DotNet/TestApp/bin
DotNet/TestApp/obj

Web/packages/*
Web/.vs/*
Web/Web/appsettings.json
Web/Web/bin
Web/Web/obj
Web/Web/node_modules
Web/Web/dist
Web/DotNet.Common/bin
Web/DotNet.Common/obj
Web/Entities/bin
Web/Entities/obj
Web/BLL/bin
Web/BLL/obj
Web/DAL/bin
Web/DAL/obj
Web/Tool/bin/netcoreapp2.1
Web/Tool/Release/netcoreapp2.1
Web/Tool/obj
Web/Tool/bin
Web/Tool/wwwroot/upload
Web/WebAPI/appsettings.json
Web/WebAPI/bin
Web/WebAPI/obj




