!*.exe
!*.dll
!*.ide

DotNet/packages/*
DotNet/.vs/*
DotNet/DotNet/bin
DotNet/DotNet/obj
DotNet/DotNet.Common/bin
DotNet/DotNet.Common/obj
DotNet/Entities/bin
DotNet/Entities/obj
DotNet/TestApp/bin
DotNet/TestApp/obj

Web/packages/*
Web/.vs/*
Web/Web/bin
Web/Web/obj
Web/DotNet.Common/bin
Web/DotNet.Common/obj
Web/Entities/bin
Web/Entities/obj
Web/Biz/bin
Web/Biz/obj
Web/DAL/bin
Web/DAL/obj

