@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="FileSave">
            <div class="form-group">

                <label>Form表单上传文件:</label>
                <input type="file" name="files" multiple />
                <input type="submit" value="上传" />
            </div>

        </form>
    </div>
    
    
</div>
